@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.sidebar {
    height: 100%;
    width: 363px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow-x: hidden;
    padding-top: 10px;
}

.main {
    margin-left: 363px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar h1 {
    margin: 5px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

p {
    margin: 0;
    padding: 0;
}

.author {
    margin-bottom: 2px;
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
}


.source {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
}

.stream {
    margin: auto;
    margin-top: 32px;
    width: 50%;
    display: block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button {
    display: block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    margin-top: 32px;
    font-family: 'Oswald';

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

a:link {
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}

.name_form {
    display: block;
    margin-bottom: 16px;
}

.logo {
    height: 29px;
    margin-top: 15px;
    margin-left: 8px;
}

.logo_group {
    display: inline-flex;
    margin-left: 13px;
}

label{
    display: block;
    border-radius: 4px;
    background-color: #212121;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 15px;
    width: 128px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    margin-top: 32px;
    font-family: 'Oswald';
}

#file_name {
    text-align: center;
    margin-top: 9px;
    font-size: 20px;
    font-family: 'Montserrat';
}

.name_form--input {
    border:none;
    border-bottom: 2px solid;
    width: 210px;
    font-size: 19px
}

.name_form--label {
    font-family: 'Montserrat';
}

.upload--message {
    display: inline-block;
    margin-right: 9px;
}

.alert_message {
    margin-top: 16px;
    background-color: #c3e8c3;
    color: #183e18;
    padding: 18px;
}
