<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Face recognition</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    
</head>
<body>
    <div class="sidebar">
        <div class="logo_group">
            <a href=" {{ url_for('index') }}">
                <img src="{{ url_for('static',filename='logo.png') }}" class="logo">
            </a>
            <h1>Face recognition demo</h1>
        </div>
        
        <hr>
        <div class="author">
            <b>
                Author: <a target="_blank" href="https://github.com/jgbf">jgbf</a>
            </b>
        </div>
        <div class="source">
            <b>
                <a 
                target="_blank" 
                href="https://github.com/jgbf/face_recognition">Source code
                </a>
            </b>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
