{% extends 'base_layout.html' %}

{% block content %}
    <div class="main">
        <h1>Upload new File</h1>
        <form method=post enctype=multipart/form-data>
            <div class="form_content">
            <div class="name_form">
                <div class="name_form--label" required>Name</div>
                <input type="text" name="name" class="name_form--input">
            </div>
            <input type=file name=file id="file_upload" hidden required>
            <label for="file_upload">Select file</label>
            <div id="file_name"></div>
            </div>
            <input type=submit value=Upload class="button">
        </form>

        {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="success_message" role="alert">
                        <div class="upload--message">{{ message }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["warning"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="warning_message" role="alert">
                        <div class="upload--message">{{ message }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/file_upload.js') }}"></script>
{% endblock %}
