{% extends 'base_layout.html' %}

{% block content %}
    <div class="main">
        <h1>Upload new File</h1>
        <form method=post enctype=multipart/form-data>
            <div class="form_content">
            <div class="name_form">
                <div class="name_form--label">Name</div>
                <input type="text" name="name" class="name_form--input">
            </div>
            <input type=file name=file id="file_upload" hidden>
            <label for="file_upload">Select file</label>
            <div id="file_name"></div>
            </div>
            <input type=submit value=Upload class="button">
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/file_upload.js') }}"></script>
{% endblock %}
